<% provide(:title, @list.name) %>
<div class="row">
  <%= render 'shared/list_left_pane' %>
  <div class="span8">
    <h5>Posts</h5>
    <section>
      <%= render 'shared/feed' %>
    </section>
  </div>
</div>
